body {
    background-color: #160536;
    color: white;
    
}

h1 {
    color: #b292ee;
    font-size: 40px;
    font-family: Helvetica;
}

form {
    background-color: rgb(229, 233, 236);
    padding: 20px;
    margin: 15px;
    border-radius: 6px;
}

form input,
form button {
    border: 1px solid #82c308;
    margin-bottom: 5px;
    border-radius: 6px;
    padding: 10px;

}
form button {
    padding: 5px;
}

form button:hover {
    background-color: #e9dc2a;
    color: white
}

li {
    font-size: 30px;
}

li button {
    display: inline-block;
    margin-left: 10px;
    border-radius: 6px;
    border: 1px solid #b292ee;
    background-color: rgb(229, 233, 236);
    padding: 5px;
}

li button:hover {
    background-color: #82c308;
    color: white
}